<div class="graf_in">
	<div class="graf_in_box">
		<div class="graf_in_head">
			<p><b>いきぬき画像一覧</b></p>
		</div>
		<% @graffitis.each do |graf| %>
			<%= link_to user_graffiti_path(user_id: graf.user.id, id: graf.id), class: "modalBtn" do %>
				<div class="graf_in_main clearfix">
					<div class="graf_in_box_l">
						<%= link_to user_graffiti_path(user_id: graf.user.id, id: graf.id), class: "modalBtn" do %>
							<%= attachment_image_tag graf, :graffiti_image, class: "ikinuki_image" %>
						<% end %>
					</div>
					<div class="graf_in_box_c">
						<%= truncate(graf.graffiti_text, length: 40, omission: " ....") %>
					</div>
					<div class="graf_in_box_r">
						<% if @user == current_user || current_user.try(:admin?) %>
							<%= link_to "削除", user_graffiti_path(user_id:  graf.user.id, id: graf.id), method: :delete, "data-confirm" => "削除しますか？", class: "btn-danger btn-sm" %>
						<% else %>
							<%= graf.created_at.strftime('%Y/%m/%d') %>
						<% end %>
					</div>
				</div>
			<% end %>
		<% end %>
    	<%= paginate @graffitis, class: "pagenate" %>
		<div class="graf_in_back">
      		<%= link_to "戻る", user_path(@user.id), class: "pros_link" %>
    	</div>
	</div>
</div>

<script>
  $(function(){
	  var mdwBtn = $('.modalBtn'),
	  overlayOpacity = 0.5,
	  fadeTime = 300;

	  mdwBtn.on('click',function(e){
	    e.preventDefault();

	    var setMdw = $(this),
	    setHref = setMdw.attr('href'),
	    wdHeight = $(window).height();
	    $('body').append('<div id="mdOverlay"></div><div id="mdWindow"><div class="mdClose">×</div><iframe id="contWrap"></iframe></div>');

	    $('#contWrap').attr('src',setHref);
	    $('#mdOverlay,#mdWindow').css({display:'block',opacity:'0'});
	    $('#mdOverlay').css({height:wdHeight}).stop().animate({opacity:overlayOpacity},fadeTime);
	    $('#mdWindow').stop().animate({opacity:'1'},fadeTime);

	    $(window).on('resize',function(){
	      var adjHeight = $(window).height();
	      $('#mdOverlay').css({height:adjHeight});
	    });

	    $('#mdOverlay,.mdClose').on('click',function(){
	      $('#mdWindow,#mdOverlay').stop().animate({opacity:'0'},fadeTime,function(){
	        $('#mdOverlay,#mdWindow').remove();
	      });
	    });
	  });
	});

</script>

