<div class="graffiti_new clearfix">

	<div class="graffiti_new_main">
		<div class="graffiti_new_box">

			<div class="graffiti_new_head">
				<p><b>いきぬき投稿</b></p>
				<p>創作中にしたラクガキや進行状況など、一言添えてどうぞ。</p>
			</div>
			<%= form_for [@user,@graffiti] do |f| %>
				<div class="graffiti_new_image">
					<img src="" height="200" alt="ここにプレビューが出ます">
					<%= f.attachment_field :graffiti_image, placeholder: "画像", onchange: "previewFile()" %>
				</div>
				<div class="graffiti_new_text">
					<%= f.text_area :graffiti_text, autofocus: true, autocomplete: 'graffiti_text' %>
				</div>
				<div class="graffiti_new_btn">
					<%= f.submit '投稿', class: "btn btn-info" %>
				</div>
			<% end %>



		</div>









	</div>
<%= render 'users/side_r' %>