<!DOCTYPE html>
<html>
  <head>
    <title>Pros</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  	<div class="graf_box">
  		<div class="graf_main_box">
  			<%= attachment_image_tag @graffiti, :graffiti_image, :limit, '500', '600', class: "graf_main" %>
  			<div class="graf_text">
          <%= @graffiti.created_at.strftime('%Y/%m/%d') %>
          <%= simple_format(@graffiti.graffiti_text) %>
  			</div>
  		</div>
  	</div>

  </body>

</html>


