<%= stylesheet_link_tag 'progresses_show' %>
<div class="pro_show"><br>

	<div class="pro_show_main">
		<div class="pro_show_title">
			<p><b><%= @progress.work_name%></b>&nbsp;&nbsp;の編集&nbsp;&nbsp;
				<span class="glyphicon glyphicon-repeat" aria-hidden="true" onclick="reload()"></span>
		</div>

		<div class="pro_iframe_edit">
		  	<%= form_for [@user,@progress],url:user_progress_path do |f| %>
		    	<div class="pro_main clearfix" style="width:<%= "#{@prowid}px" %>;">
		        	<div class="pro_main_l">
		         	<div class="pro_bl_main0"></div>
			          	<% (1..@progress.page).each do |pp| %>
			            	<div class="pro_bl_main">
			            		<%= pp %>
			            	</div>
			          	<% end %>
		        	</div>

		        	<div class="pro_main_r clearfix" style="width:<%= "#{@yoko}px" %>;">

						<% @progress.steps.each do |ps| %>
							<div class="pro_br_p">
						  		<%= ps.step_name %>
							</div>
						<% end %>

		        		<%= f.fields_for :step_colors do |sc| %>
							<div class="pro_br_main btn-group" data-toggle="buttons">
								<label class="color_edit">
									<%= sc.radio_button :color, 1, autofocus: false, autocomplete: "off", class: "table_br_main_edit" %>
								</label>
							</div>
						<% end %>

	        		</div>
	     		</div>
	     		<div class="pro_edit_text">
		     		<div class="pro_edit_reload">
		     			<p>一度押すと取り消しできません。<br>もしも間違えてしまったら
		     				<span class="glyphicon glyphicon-repeat" aria-hidden="true" onclick="reload()"></span>を押して再度入力し直してください
		     			</p>
					</div>
					<div class="progress_new_label">
					<p><b>作業名</b></p>
					<%= f.text_field :work_name, autofocus: true, autocomplete: 'work_name', placeholder: "例：○○のイベント用、等", class: "form-control" %>
				</div>
				<div class="progress_new_label">
					<p><b>締切日</b></p>
					<%= f.date_select :dead_line, autofocus: true, autocomplete: 'dead_line', date_separator: "/", use_month_numbers: true %>
				</div>
				<div class="progress_new_label">
					<p><b>メッセージ</b></p>
					<%= f.text_area :message, autofocus: true, autocomplete: 'message', placeholder: "見てくれる方へご自由に", class: "form-control" %>
				</div>
				<div class="progress_new_label">
					<p><b>ボタンカラー（表を埋める時の色）</b></p>
					<%= f.color_field :btn_color, autofocus: true, autocomplete: 'event', :size => '100' %>
				</div>
					<div><br>
						<p>他のユーザーに
						<%= f.select :private, [["公開", 0], ["非公開", 1]], autofocus: true, autocomplete: 'private',:prompt => "選択してください" %></p>
					</div>
		    		<div class="pro_edit_pri">
						<%= f.submit '更新', class: "btn btn-success btn-sm form-control" %>
					</div>
				</div>
			<% end %>
	    </div>


	</div>

</div>


<script>
function reload(){
  location.reload();
}
</script>


