
<%= form_for [@user,@progress],url:user_progress_path do |f| %>
	<%= f.text_field :work_name, autofocus: true, autocomplete: 'work_name' %>
	<%= f.text_field :message, autofocus: true, autocomplete: 'message' %>
	<%= @progress.dead_line%><br>
	<%= @progress.event%><br>

	<div class="table_box clearfix">

		<div class="table_box_l">
			<div class="table_bl_main"></div>
			<% (1..@progress.page).each do |pp| %>
				<div class="table_bl_main">
					<%= pp %>
				</div>
			<% end %>
		</div>


		<div class="table_box_r clearfix">

			<% @progress.steps.each do |ps| %>
				<div class="table_br_p">
					<%= ps.step_name %>
				</div>
			<% end %>

				<%= f.fields_for :step_colors do |sc| %>
					<div class="table_br_main btn-group" data-toggle="buttons">
						<label class="table_br_main_label">
							<%= sc.radio_button :color, 1, autofocus: false, autocomplete: "off", class: "table_br_main_edit" %>
						</label>
					</div>
				<% end %>

		</div>

	</div>
	<%= f.select :private, [["公開", 0], ["非公開", 1]], autofocus: true, autocomplete: 'private',:prompt => "選択してください" %>

	<%= f.submit '更新', class: "btn btn-info" %>
<% end %>



<script type="text/javascript">
	var wid = gon.yoko
	$('.table_box_r').css('width',wid);

	var nowchecked = $('.table_br_main_edit').val();
	$('.table_br_main_edit').click(function(){
		if($(this).val() == nowchecked) {
			$(this).prop('checked', false);
			nowchecked = false;
		} else {
			nowchecked = $(this).val();
		}
});
</script>
