<div class="progress_new"><br>

		<div class="progress_new_box">

			<div class="progress_new_head">
				<p><b>進歩新規投稿</b></p>
			</div>

			<%= form_for [@user,@progress],url:user_progresses_path do |f| %>
				<% if @progress.errors.any? %>
	        		<%= @progress.errors.count %>件のエラーが発生しました
	        		<% @progress.errors.full_messages.each do |message| %>
	           	 		<%= message %>
	        		<% end %>
	    		<% end %>
				<div class="progress_new_label">
					<p><b>作業名</b></p>
					<%= f.text_field :work_name, autofocus: true, autocomplete: 'work_name', placeholder: "例：○○のイベント用、等", class: "form-control" %>
				</div>
				<div class="progress_new_label">
					<p><b>締切日</b></p>
					<%= f.date_select :dead_line, autofocus: true, autocomplete: 'dead_line', date_separator: "/", use_month_numbers: true %>
				</div>
				<div class="progress_new_label">
					<p><b>メッセージ</b></p>
					<%= f.text_area :message, autofocus: true, autocomplete: 'message', placeholder: "見てくれる方へご自由に", class: "form-control" %>
				</div>
				<div class="progress_new_label">
					<p><b>ボタンカラー（表を埋める時の色）</b></p>
					<%= f.color_field :btn_color, autofocus: true, autocomplete: 'event', :size => '100' %>
				</div>
				<div class="progress_new_label">
					<p><b>ページ数（後から変更はできません）</b></p>
					<%= f.number_field :page, min:1, autofocus: true, autocomplete: 'page', class: "form-control" %>
				</div>
				<div class="progress_new_label">
					<p><b>工程（最大7つまで、後から変更はできません）</b></p>
					<div id="steps">
						<%= f.fields_for :steps do |step| %>
							<%= render 'step_fields', f: step %>
						<% end %>
						<div id="links">
							<%= link_to_add_association '工程追加', f, :steps, class: "btn btn-warning" %>
						</div><br>
						<div class="progress_new_btn">
							<%= f.submit '作成', class: "btn btn-success form-control" %>
						</div>
					</div>
				</div>
			<% end %>

		</div>

</div>

<script type="text/javascript">
	$(function() {
      $('#steps a.remove_fields').hide();

      $('#steps').on('cocoon:after-insert', function() {
        check_content();
      });
      
      $('#steps').on('cocoon:after-remove', function() {
        check_content();
      });
      
      function check_content() {
        if($('#steps .nested-fields').length == 7) {
          $('#steps a.add_fields').hide();
        } else {
          $('#steps a.add_fields').show();
        }
      }
    });
</script>

