
<%= @progress.dead_line%><br>
<%= @progress.event%><br>
<%= @progress.work_name%><br>
<%= @progress.message%><br>

<br><br>

<div class="table_box clearfix">


	<div class="table_box_l">
		<div class="table_bl_main"></div>
		<% (1..@progress.page).each do |pp| %>
			<div class="table_bl_main">
				<%= pp %>
			</div>
		<% end %>
	</div>


	<div class="table_box_r clearfix">
		<% @progress.steps.each do |ps| %>
			<div class="table_br_p">
				<%= ps.step_name %>
			</div>
		<% end %>
		<% @progress.step_colors.each do |psc| %>
			<div class="table_br_main">
				<% if psc.color == 1 %>
					<div class="color1"></div>
				<% else %>
					<div class="color0"></div>
				<% end %>
			</div>
		<% end %>
	</div>

</div>
<br><br>

<%= link_to "編集", edit_user_progress_path(user_id: current_user, id: @progress.id) %>
<br><br>

<%= render partial: 'likes/like' %>
<%= render partial: 'worries/worry' %>


<br><br>
<div class="progress" style="width: 500px;">
  <div id ="answer_progress" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow=@aria_valuenow aria-valuemin="0" aria-valuemax="100">
    <%= @answer_valuenow  %>%
  </div>
</div>
<span>あなたの進捗は<%= @answer_valuenow  %>パーセントです。</span>

<div class="Timer">
  <!-- <p>締切まであと</p> -->
  <div id="TimeLeft"></div>
</div>

<script type="text/javascript">
	var wid = gon.yoko
	$('.table_box_r').css('width',wid);
	$('#answer_progress').width(gon.answer_valuenow + '%');

	var c_time = gon.time
	var today = new Date();

	var targetDay = new Date(c_time);

	remainDay = Math.floor((targetDay - today) / (24*60*60*1000));

	remainDay++;

	if (remainDay > 0) {
		$("#TimeLeft").text("開催まで残り"+remainDay+"日");
	}
	else if (remainDay < -1) {
	  $("#TimeLeft").text("締切は過ぎました");
	}
	else if (remainDay < -1) {
	  $("#TimeLeft").text("締切当日です");
	}



</script>



