<%= stylesheet_link_tag 'progresses_show' %>

<div class="pro_show"><br>

	<div class="pro_show_main">
		<div class="pro_show_title">
			<p><b><%= @progress.work_name%></b>&nbsp;&nbsp;|&nbsp;&nbsp;by&nbsp;
				<%= link_to @user.name ,user_path(@user.id), class: "pros_link" %></p>
		</div>
		<div class="pro_show_message">
			<p>・<%= @progress.message%></p>
		</div>
		<div class="pro_show_dead clearfix">
			<div class="pro_show_dead_l">
				<p><span id="TimeLeft"></span>&nbsp;&nbsp;&nbsp;&nbsp;締切日：<%= @progress.dead_line%></p>
			</div>
			<div class="pro_show_dead_r">
				<% if @user == current_user %>
					<%= link_to "編集する", edit_user_progress_path(user_id: current_user, id: @progress.id), class: "btn-success btn-sm" %>
				<% end %>
				<%= render partial: 'likes/like' %>
				<%= render partial: 'worries/worry' %>
			</div>
		</div>
		<iframe src="<%= url_for(i_show_path(user_id: @user, id:@progress)) %>" style="width:<%= "#{@yoko + 50}px" %>; height: <%= "#{@progress.page * 25 + 25}px" %>;" name="sample" class="pro_show_iframe">この部分はインラインフレームを使用しています。</iframe>
		<p><b>進行度</b></p>
		<div class="progress" style="width: 100%;">
			<div id ="answer_progress" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow=@aria_valuenow aria-valuemin="0" aria-valuemax="100">
		    	<%= @answer_valuenow.round  %>%
			</div>
		</div>
		<p>作成日：<%= @progress.created_at.strftime('%Y/%m/%d') %>&nbsp;&nbsp;|&nbsp;&nbsp;最終更新日：<%= @progress.updated_at.strftime('%Y/%m/%d') %></p>
	</div>

</div>

<script type="text/javascript">
	$('#answer_progress').width(gon.answer_valuenow + '%');

	var c_time = gon.time
	var today = new Date();

	var targetDay = new Date(c_time);

	remainDay = Math.floor((targetDay - today) / (24*60*60*1000));

	remainDay++;

	if (remainDay > 0) {
		$("#TimeLeft").text("締切まで残り"+remainDay+"日");
	}
	else if (remainDay < -1) {
	  $("#TimeLeft").text("締切は過ぎました");
	}
	else {
	  $("#TimeLeft").text("締切当日です");
	}



</script>




