<%= stylesheet_link_tag 'users_show' %>
<% @progress.each do |pro| %>
	<% if pro.private == 1 && @user == current_user %>
		<div class="my_page_pro_box">
			<div class="my_page_pro_t clearfix">
				<div class="my_page_pro_t_l">
					<%= link_to pro.work_name,  user_progress_path(user_id:@user.id, id:pro.id), class: "pros_link" %>
				</div>
				<div class="my_page_pro_t_c">
					<p><b>締切日:</b>&nbsp;<%= pro.dead_line %>&nbsp;&nbsp;&nbsp;<span class="btn-warning btn-sm">非公開中</span></p>
				</div>
				<div class="my_page_pro_t_r">
					<%= link_to "詳細",  user_progress_path(user_id:@user.id, id:pro.id), class: "btn-success btn-sm" %>
					<%= link_to "削除",  user_progress_path(user_id:@user.id, id:pro.id), class: "btn-danger btn-sm", method: :delete, "data-confirm" => "削除しますか？" %>
				</div>
			</div>
		</div>
	<% elsif pro.private == 1 %>
		<%= nil %>
	<% else %>
		<div class="my_page_pro_box">
			<div class="my_page_pro_t clearfix">
				<div class="my_page_pro_t_l">
					<%= link_to pro.work_name,  user_progress_path(user_id:@user.id, id:pro.id), class: "pros_link" %>
				</div>
				<div class="my_page_pro_t_c">
					<p><b>締切日:</b>&nbsp;<%= pro.dead_line %></p>
				</div>
				<div class="my_page_pro_t_r">
					<% if @user == current_user %>
						<%= link_to "詳細",  user_progress_path(user_id:@user.id, id:pro.id), class: "btn-success btn-sm" %>
						<%= link_to "削除",  user_progress_path(user_id:@user.id, id:pro.id), class: "btn-danger btn-sm", method: :delete, "data-confirm" => "削除しますか？" %>
					<% else %>
						<%= link_to "＞＞詳細を見る",  user_progress_path(user_id:@user.id, id:pro.id), class: "pros_link" %>
					<% end %>
				</div>
			</div>
		</div>
	<% end %>
<% end %>