<!-- scssはuser_showと同一 -->
	<div class="side_bar" id="layout">

		<div class="side_image_box">
			<%= attachment_image_tag @userme, :user_image, :limit, '100%', '100%', fallback: "no_image.jpg", class: "side_image" %>
		</div>
		<div class="side_name">
			<%= @userme.name %>
			<% if @userme.status == 1 %>
				<p>未創作</p>
			<% elsif @userme.status == 2 %>
				<p>創作中</p>
			<% elsif @userme.status == 3 %>
				<p>ここを使う余裕すら無し</p>
			<% end %>
		</div>
		<div class="side_prof">
			<%= @userme.profile %>
		</div>
		<div class="side_fav">
			<% if @user == current_user %>
            	<%= link_to '応援ユーザー一覧', following_user_path(@user), class: "btn btn-info" %>
          	<% else %>
            	<% if current_user.following?(@user) %>
              		<%= render 'unfollow' %>
            	<% else %>
              		<%= render 'follow' %>
            	<% end %>
          <% end %>
		</div>
		<div class="side_ikinuki">
			ikinuki
		</div>
		<div class="side_ikinuki_image">
			image
		</div>
		<div class="side_motto">
			motto
		</div>

	</div>

<!-- ↓全体用の締めdiv -->
</div>