<%= stylesheet_link_tag 'users_edit' %>
<div class="user_edit clearfix">
	<div class="user_edit_main clearfix">
		<div class="user_edit_l">
			会員情報の変更
			<%= form_for(@user) do |f| %>
				<% if @user.errors.any? %>
	        		<%= @user.errors.count %>件のエラーが発生しました
	        		<% @user.errors.full_messages.each do |message| %>
	           	 		<%= message %>
	        		<% end %>
	    		<% end %>
				<div class="user_edit_box">
					<p>プロフィール画像</p>
					<img src="" height="200" alt="ここにプレビューが出ます"> <!-- プレビューの表示枠を用意 -->
					<%= f.attachment_field :user_image, placeholder: "プロフィール画像", onchange: "previewFile()" %>
					<p>名前</p>
					<%= f.text_field :name, autofocus: true, autocomplete: 'name' %>
					<p>メールアドレス</p>
					<%= f.text_field :email, autofocus: true, autocomplete: 'email' %>
					<p>Twitter URL</p>
					<%= f.text_field :twitter_url, autofocus: true, autocomplete: 'twitter_url' %>
					<p>Pixiv URL</p>
					<%= f.text_field :pixiv_url, autofocus: true, autocomplete: 'pixiv_url' %>
					<p>一言</p>
					<%= f.text_area :profile, autofocus: true, autocomplete: 'profile' %>
					<p>現在の状況</p>
					<%= f.select :status, [["未創作", 1], ["創作中", 2],  ["ここを使う余裕すら無し", 3]], autofocus: true, autocomplete: 'status',:prompt => "選択してください" %>
					<%= f.submit '更新' %>
				</div>
			<% end %>
		</div>
		<div class="user_edit_r">
			<%= link_to "パスワード変更", edit_user_registration_path %><br><br>
			<%= link_to "退会する", homes_goodbye_path %>
		</div>
	</div>




<%= render 'users/side_r' %>