<div class="user_index">
	<div class="fol_box">
		<div class="fol_box_head">
			<p><b>応援ユーザーリスト</b></p>
		</div>

		<% if @user.followings.empty? %>
			<p class="fol_empty">誰もフォローしていません</p>

		<% else %>

			<% @user.followings.each do |user| %>
				<%= link_to user_path(user.id) do %>
					<div class="user_fol_main clearfix u_i_hover">
						<div class="user_index_image">
							<%= attachment_image_tag user, :user_image, :limit, '100%', '100%', fallback: "no_image.jpg", class: "user_index_image2" %>
						</div>
						<div class="user_index_prof">
							<div class="user_index_prof_name pros_link clearfix">
								<div class="user_fol_name_l">
									<%= user.name %>
								</div>
								<div class="user_fol_name_r">
									<% if @user.status == 1 %>
										<p>未創作</p>
									<% elsif @user.status == 2 %>
										<p>創作中</p>
									<% elsif @user.status == 3 %>
										<p>ここを使う余裕すら無し</p>
									<% end %>
								</div>
							</div>
							<div class="user_index_prof_text">
								<%= truncate(user.profile, length: 40, omission: " ....") %>
							</div>
						</div>
					</div>
				<% end %>
			<% end %>
		<% end %>
		<%= paginate @users, class: "pagenate" %>
	</div>
</div>
