<%= stylesheet_link_tag 'users_show' %>
<ul id="webticker" >
		<li id='item1'>
			本日は<span><%= Date.today %></span>です
		</li>
	<% @notices.first(5).each do |notice| %>
		<li id='item2'>
	  		<span>
	  			<% if notice.category == 1 %>
					お知らせ
				<% elsif notice.category == 2 %>
					新着記事
				<% elsif notice.category == 3 %>
					注目
				<% end %>
			</span>
			<%= notice.text %>(<%= notice.created_at.strftime('%Y/%m/%d') %>)
		</li>
	<% end %>
		<li id='item3'>
			お知らせ一覧は
			<%= link_to "こちら", notices_path, class: "pros_link" %>
		</li>
</ul>
<div class="user_show">
	<br>
	<div class="my_page clearfix">
		<div class="my_page_l">
			<div class="my_image_box">
				<%= attachment_image_tag @user, :user_image, :limit, '100%', '100%', format: 'jpeg', fallback: "no_image.jpg", class: "my_image" %>
			</div>
			<div class="my_page_status">
				<% if @user.status == 1 %>
					<p>未創作</p>
				<% elsif @user.status == 2 %>
					<p>創作中</p>
				<% elsif @user.status == 3 %>
					<p>ここを使う余裕すら無し</p>
				<% end %>
			</div>
		</div>
		<div class="my_page_r">
			<div class="my_info">
				<div class="my_info_name clearfix">
					<div class="my_info_name_l">
						<b><%= @user.name %></b>
						<% if @user.twitter_url.empty? %>
							<%= nil %>
						<% else %>
							<%= link_to @user.twitter_url, target: "_blank" do %>
								<img src="/images/twitter_icon.png" class="sns_icon" >
							<% end %>
						<% end %>
						<% if @user.pixiv_url.empty? %>
							<%= nil %>
						<% else %>
							<%= link_to @user.pixiv_url, target: "_blank" do %>
								<img src="/images/logo_icon_r.png" class="sns_icon" >
							<% end %>
						<% end %>
					</div>
					<div class="my_info_name_r">
						<% if @user == current_user %>
			            	<%= link_to '応援リスト', following_user_path(@user), class: "btn btn-info fol_in_btn" %>
			          	<% else %>
			            	<% if current_user.following?(@user) %>
			              		<%= render 'unfollow' %>
			            	<% else %>
			              		<%= render 'follow' %>
			            	<% end %>
			        	<% end %>
					</div>
				</div>
				<div class="my_info_prof">
					<%= simple_format(@user.profile) %>
				</div>
			</div>

			<div class="my_graf">
				<div class="my_graf_head">
					<p><b>いきぬき画像（最新１３件）</b>
					<% if @graffitis.empty? %>
						<% nil %>
					<% else %>
						<%= link_to "＞＞もっと見る", user_graffitis_path(user_id: @user.id), class: "pros_link" %></p>
					<% end %>
				</div>
				<div class="my_graf_main">
					<% if @graffitis.empty? %>
						<p>まだ投稿していません</p>
					<% else %>
						<% @graffitis.first(13).each do |graf| %>
							<%= link_to user_graffiti_path(user_id: graf.user.id, id: graf.id), class: " modalBtn" do %>
								<%= attachment_image_tag graf, :graffiti_image, format: 'jpeg', class: "ikinuki_image" %>
							<% end %>
						<% end %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
	<div class="my_page_pro">
		<div class="report_title clearfix">
			<div class="report_title_l">
				<p><b>近況：</b>
					<% if @user.report.nil? %>
						特になし</p>
					<% else %>
						<%= @user.report %></p>
					<% end %>
			</div>
			<div class="report_title_r">
				<% if @user == current_user %>
					<p id="openModal" class="btn-sm btn-success">投稿</p>
				<% end %>
			</div>
		</div>
	</div>

	<div class="my_page_pro">
		<div class="content_title">
			<b>創作進歩状況一覧</b>
		</div>
		<% if @progress.empty? %>
			<p>まだ投稿していません。投稿は<%= link_to "こちら", new_user_progress_path(user_id: current_user), class: "pros_link" %>から。</p>
		<% else %>
			<%= render 'users/my_page_pro' %>
		<% end %>
	</div>

	<% if @user == current_user %>
		<%= render 'users/my_page_fav' %>
	<% end %>

</div>

<!-- モーダルエリアここから -->
<!-- ログイン -->
<section id="modalArea" class="modalArea">
  <div id="modalBg" class="modalBg"></div>
  <div class="modalWrapper">
    <div class="modalContents">
    	<%= form_for(@user) do |f| %>
	    	<% if @user.errors.any? %>
	    		<%= @user.errors.count %>件のエラーが発生しました
	    		<% @user.errors.full_messages.each do |message| %>
	       	 		<%= message %>
	    		<% end %>
			<% end %>
    		<div class="user_edit_label">
				<p><b>近況</b></p>
				<%= f.text_area :report, autofocus: true, autocomplete: 'report', class: "form-control", rows: 2 %>
			</div><br>
			<div class="user_edit_btn">
				<%= f.submit '更新', class: "btn btn-success form-control" %>
			</div>
		<% end %><br>
    </div>
    <div id="closeModal" class="closeModal">
      ×
    </div>
  </div>
</section>

<script>
  $(function(){
    $("#webticker").webTicker({
    	hoverpause : true,
    	height : '30px'
    });
  });
</script>

