<%= stylesheet_link_tag 'users_show' %>
<div class="user_show clearfix">
	<div class="user_show_main">

		<div class="user_show_box1">
			<div class="user_show_box1_title">
				創作進歩状況一覧
			</div>
			<div class="progress_box clearfix">

				<div class="progress_box_l">
					<% @progress.each do |pro|%>
						<% if pro.private == 1 && current_user %>
							<%= link_to user_progress_path(user_id: pro.user.id,id: pro.id) do %>
							ここじゃー(非公開中)
							<% end %><br>
						<% elsif pro.private == 1 %>
							<%= nil %>
						<% else %>
							<%= link_to user_progress_path(user_id: pro.user.id,id: pro.id) do %>
							ここじゃー
							<% end %><br>
						<% end %>
					<% end %>
				</div>

				<div class="progress_box_r">詳細</div>
			</div>
		</div>

		<div class="user_show_box2">
			<div class="user_show_box2_title">
				お気に入り印刷所
			</div>
			<div class="fav_print">
				<% @favorite_prints.each do |favp| %>
					<div class="fav_print_box">
						<%= link_to favp.print.company, favp.print.company_url %>
					</div>

				<% end %>


				<div class="fav_print_box">
					○○印刷所
				</div>

			</div>
		</div>

		<div class="user_show_box3">
			<div class="user_show_box3_title">
				お気に入り会場
			</div>
		</div>

	</div>
<%= render 'users/side_r' %>