<div class="venue_new"><br>

		<div class="venue_new_box">

			<div class="venue_new_head">
				<p><b>会場登録</b></p>
			</div>

			<%= form_for(@venue) do |f| %>
				<% if @venue.errors.any? %>
	        		<%= @venue.errors.count %>件のエラーが発生しました
	        		<% @venue.errors.full_messages.each do |message| %>
	           	 		<%= message %>
	        		<% end %>
	    		<% end %>
				<div class="venue_new_text">
					<p><b>会場名</b></p>
					<%= f.text_field :venue_name, autofocus: true, autocomplete: 'venue_name', class: "form-control" %>
				</div>
				<div class="venue_new_text">
					<p><b>郵便番号</b></p>
					<%= f.text_field :postal_code, autofocus: true, autocomplete: 'postal_code', class: "form-control", placeholder: "000-0000" %>
				</div>
				<div class="venue_new_text">
					<p><b>住所</b></p>
					<%= f.text_area :address, autofocus: true, autocomplete: 'address', class: "form-control", rows: "3" %>
				</div>
				<div class="venue_new_text">
					<p><b>電話番号</b></p>
					<%= f.text_field :tel, autofocus: true, autocomplete: 'tel', class: "form-control", placeholder: "0000-000-0000" %>
				</div>
				<div class="venue_new_text">
					<p><b>会場サイトURL</b></p>
					<%= f.text_field :venue_url, autofocus: true, autocomplete: 'venue_url', class: "form-control", placeholder: "http://..." %>
				</div>
				<div class="venue_new_text">
					<p><b>緯度</b></p>
					<%= f.text_field :latitude, autofocus: true, autocomplete: 'latitude', class: "form-control" %>
				</div>
				<div class="venue_new_text">
					<p><b>経度</b></p>
					<%= f.text_field :longitude, autofocus: true, autocomplete: 'longitude', class: "form-control" %>
				</div><br>
				<div class="venue_new_btn">
					<%= f.submit '登録', class: "btn btn-success form-control" %>
				</div>
			<% end %>

		</div>
</div>