<div class="home_index clearfix">

	<div class="home_index_l">
		最初のページ
	</div>

	<div class="home_index_r">
		<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
		<p class="home_index_p1" id="openModal">
			ログイン
		</p><br>
		<p id="openModal2">
			新規登録
		</p>
	</div>

</div>

<!-- モーダルエリアここから -->
<!-- ログイン -->
<section id="modalArea" class="modalArea">
  <div id="modalBg" class="modalBg"></div>
  <div class="modalWrapper">
    <div class="modalContents">
    	<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    	<p class="inhead_name"><b>ログイン</b></p>

		  <div class="field">
		    <p><b>メール</b></p>
		    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class: "form-control" %>
		  </div><br>

		  <div class="field">
		    <p><b>パスワード</b></p>
		    <%= f.password_field :password, autocomplete: "current-password", placeholder: "パスワード",class: "form-control" %>
		  </div>
		  <br>

		  <% if devise_mapping.rememberable? -%>
		    <div class="field">
		      <%= f.check_box :remember_me %>
		      <b>情報を記憶する</b>
		    </div>
		  <% end -%>
		  <br>

		  <div class="actions">
		    <%= f.submit "ログイン",class: "form-control btn btn-success" %>
		  </div>
		<% end %><br>
    </div>
    <div id="closeModal" class="closeModal">
      ×
    </div>
  </div>
</section>

<!-- 新規登録 -->
<section id="modalArea2" class="modalArea2">
  <div id="modalBg2" class="modalBg2"></div>
  <div class="modalWrapper2">
    <div class="modalContents2">
		  <%#= devise_error_messages %>
    	<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

		  <p class="inhead_name"><b>新規登録</b></p>

		  <div class="field">
		    <p><b>名前</b></p>
		    <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "サイト内で使う名前です",class: "form-control" %>
		  </div>
		  <br>

		  <div class="field">
		    <p><b>メール</b></p>
		    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス",class: "form-control" %>
		  </div>
		  <br>

		  <div class="field">
		    <p><b>パスワード</b></p>
		    <%= f.password_field :password, autocomplete: "new-password", placeholder: "6文字以上",class: "form-control" %>
		  </div>
		  <br>

		  <div class="field">
		    <p><b>パスワード（確認）</b></p>
		    <%= f.password_field :password_confirmation, autocomplete: "new-password",class: "form-control" %>
		  </div>
		  <br>

		  <div class="actions">
		    <%= f.submit "登録",class: "form-control btn btn-success" %>
		  </div>
		<% end %><br>
    </div>
    <div id="closeModal2" class="closeModal2">
      ×
    </div>
  </div>
</section>
<!-- モーダルエリアここまで -->