<div class="home_index clearfix">

	<div class="home_index_l">
		最初のページ
	</div>

	<div class="home_index_r">
		<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
		<p class="home_index_p1" id="openModal">
			ログイン
		</p><br>
		<p>
			<%= link_to "新規登録", new_user_registration_path %>
		</p>
	</div>

</div>

<!-- モーダルエリアここから -->
<section id="modalArea" class="modalArea">
  <div id="modalBg" class="modalBg"></div>
  <div class="modalWrapper">
    <div class="modalContents">
    	<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
		  <div class="field">
		    <%= f.label :email %><br />
		    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
		  </div>

		  <div class="field">
		    <%= f.label :password %><br />
		    <%= f.password_field :password, autocomplete: "current-password" %>
		  </div>

		  <% if devise_mapping.rememberable? -%>
		    <div class="field">
		      <%= f.check_box :remember_me %>
		      <%= f.label :remember_me %>
		    </div>
		  <% end -%>

		  <div class="actions">
		    <%= f.submit "Log in" %>
		  </div>
		<% end %>
    </div>
    <div id="closeModal" class="closeModal">
      ×
    </div>
  </div>
</section>
<!-- モーダルエリアここまで -->