<%= stylesheet_link_tag 'homes_search' %>
<div class="progress_index clearfix">

		<div class="progress_index_box">
			<div class="progress_index_head">
				<p><b>スケジュール一覧</b></p>
			</div>

			<div class="progress_index_latest">
				<% @progresses.each do |progress| %>
					<%= link_to user_progress_path(user_id: progress.user.id, id: progress.id) do %>
						<div class="progress_index_latest_box clearfix">
							<div class="progress_index_latest_l">
								<p>締切日：<%= progress.dead_line %></p>
							</div>
							<div class="progress_index_latest_c">
								<p><%= truncate(progress.message, length: 40, omission: " ....") %></p>
							</div>
							<div class="progress_index_latest_r">
								<p>by&nbsp;<%= progress.user.name %></p>
							</div>
						</div>
					<% end %>
				<% end %>
				<div class="pro_all_back">
					<%= link_to "戻る", :back, class: "pros_link" %>
				</div>

			</div>
			<%= paginate @progresses, class: "pagenate" %>

		</div>

</div>