<%= stylesheet_link_tag 'homes_search' %>
<div class="progress_index clearfix">

		<div class="progress_index_box">
			<div class="progress_index_head">
				<p><b>ユーザー検索</b></p>
			</div>
			<div class="progress_index_search clearfix">
				<div class="pro_in_search_l">
					<%= form_tag(homes_search_after_path,:method => 'get') do %>
					<%= text_field_tag :search, params[:search], placeholder: "ユーザー名、または締切日を入力してください（締切日例：2018-01-01）", class: "form-control" %>
				</div>
				<div class="pro_in_search_r">
					<%= button_tag :type => "submit", :class =>"btn btn-default" do %>
					  <span class="glyphicon glyphicon-search" aria-hidden="true"></span>検索
					<% end %>
					<% end %>
				</div>

			</div>


			<div class="progress_index_latest">
				<div class="progress_index_latest_head">
					<p><b>開始したばかりのスケジュール(最新７件)</b></p>
				</div>
				<% @progresses.first(7).each do |progress| %>
					<%= link_to user_progress_path(user_id: progress.user.id, id: progress.id) do %>
						<div class="progress_index_latest_box clearfix">
							<div class="progress_index_latest_l">
								締切日：<%= progress.dead_line %>
							</div>
							<div class="progress_index_latest_c">
								<%= truncate(progress.message, length: 40, omission: " ....") %>
							</div>
							<div class="progress_index_latest_r">
								by&nbsp;<%= progress.user.name %>
							</div>
						</div>
					<% end %>
				<% end %>
				<div class="progress_index_latest_motto">
					<%= link_to "＞＞もっと見る", homes_pro_all_path, class: "pros_link" %>
				</div>

			</div>

			<div class="progress_index_latest">
				<div class="progress_index_latest_head">
					<p><b>創作中のユーザー（ランダム７名）</b></p>
				</div>
				<% @users.each do |user| %>
					<% user.progresses.each do |pro| %>
						<%= link_to user_progress_path(user_id: pro.user.id, id: pro.id) do %>
							<div class="progress_index_latest_box clearfix">
								<div class="progress_index_latest_l">
									締切日：<%= pro.dead_line %>
								</div>
								<div class="progress_index_latest_c">
									<%= truncate(pro.message, length: 40, omission: " ....") %>
								</div>
								<div class="progress_index_latest_r">
									by&nbsp;<%= pro.user.name %>
								</div>
							</div>
						<% end %>
					<% end %>
				<% end %>

			</div>



		</div>

</div>