<%= stylesheet_link_tag 'homes_useful' %>

	<div class="useful_main">
		<div class="useful_box">
			<div class="useful_box_head">
				<p><b>お役立ち</b></p>
			</div>
			<div class="useful_box_head_text">
				<p>気になる印刷所や会場などお気に入りしますと<br>
				マイページへ各種サイトや詳細ページへのリンクが追加されます。</p>
			</div>

			<div class="useful_print">
				<div class="useful_print_title">
					<b>印刷所</b>
				</div>
				<div class="useful_print_names">
					<% @prints.each do |print| %>
						<div class="useful_print_box clearfix">
							<div class="useful_print_l">
								<%= link_to print.company, print.company_url, target: "_blank", class: "pros_link" %>
							</div>
							<div class="useful_print_r">
								<% if current_user.try(:admin?) %>
									<%= link_to "編集", edit_print_path(print.id), class: "btn-success btn-sm" %>
									<%= link_to "削除", print_path(print.id), method: :delete, "data-confirm" => "この印刷所を削除します", class: "btn-danger btn-sm" %>
								<% else %>
									<%= render partial: 'favorite_prints/favorite_print' ,:locals => {print: print} %>
								<% end %>
							</div>
						</div>
					<% end %>
				</div>
			</div>

			<div class="useful_venue">
				<div class="useful_venue_title">
					<b>会場</b>
				</div>
				<div class="useful_venue_names">
					<% @venues.each do |venue| %>
						<div class="useful_venue_box clearfix">
							<div class="useful_venue_l">
								<%= link_to venue.venue_name, venue_path(venue.id), class: "pros_link" %>
							</div>
							<div class="useful_venue_r">
								<% if current_user.try(:admin?) %>
									<%= link_to "編集", edit_venue_path(venue.id), class: "btn-success btn-sm" %>
									<%= link_to "削除", venue_path(venue.id), method: :delete, "data-confirm" => "この会場を削除します", class: "btn-danger btn-sm" %>
								<% else %>
									<% if venue.favorite_venued_by?(current_user) %>
									    <%= link_to venue_favorite_venues_path(venue_id: venue), method: :delete, class: "btn btn-info" do %>
									    	お気に入り解除
									    <% end %>
									<% else %>
									    <%= link_to venue_favorite_venues_path(venue_id: venue), method: :poste, class: "btn btn-info" do %>
									    	お気に入り
									    <% end %>
									<% end %>
								<% end %>
							</div>
						</div>
					<% end %>
				</div>
			</div>

		</div>

	</div>