<%= form_for @inquiry, :url => inquiries_thanks_path do |f| %>
<div class="mail_page">
  <div class="mail_box">
    <div class="mail-head">
      <p><b>お問い合わせ（確認）</b></p>
    </div>
      <div class="mail_text">
        <p class="mail_text_p"><b>名前</b></p>
        <%= f.hidden_field :name %>
        <%= @inquiry.name %>
      </div>
      <div class="mail_text">
        <p class="mail_text_p"><b>メールアドレス</b></p>
        <%= f.hidden_field :email %>
        <%= @inquiry.email %>
      </div>
      <div class="mail_text">
        <p class="mail_text_p"><b>お問い合わせ内容</b></p>
        <%= f.hidden_field :message %>
        <%= simple_format(@inquiry.message) %>
      </div><br>
      <%= f.submit '送信', class: 'btn btn-success form-control' %>
      <% end %>

  </div>

</div>
