<%= form_for @inquiry, :url => inquiries_confirm_path do |f| %>
<div class="mail_page">
  <div class="mail_box">
    <div class="mail-head">
      <p><b>お問い合わせ</b></p>
    </div>
    <% if @inquiry.errors.any? %>
      <div class="alert alert-danger" role="alert">
        <strong>入力内容にエラーがあります</strong>
        <ul>
          <% @inquiry.errors.each do |attr, msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
      <div class="mail_text">
        <p class="mail_text_p"><b>名前<span class="text-danger">（必須）</span></b></p>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="mail_text">
        <p class="mail_text_p"><b>メールアドレス<span class="text-danger">（必須）</span></b></p>
        <%= f.email_field :email, class: "form-control" %>
      </div>
      <div class="mail_text">
        <p class="mail_text_p"><b>お問い合わせ内容</b></p>
        <%= f.text_area :message, class: "form-control", rows: 6 %>
      </div><br>
      <%= f.submit '確認', class: 'btn btn-success form-control' %>
      <% end %>

  </div>


</div>
